.breadcrumb-item {
  font-family: $secondary-font;
  letter-spacing: 0.1rem;
  font-weight:400;
  font-size:0.9rem;
  color:$dark-blue;
  a {
    text-decoration: none;
    color:$dark-blue;
  }
  &.active {
    color:$dark-blue;
    i {
      color:$pink;
    }
  }
}
