.btn {
  font-family: $secondary-font;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight:600;
  border-radius: 30px;
  padding: 10px 20px;

  &.btn-sm {
    padding: 5px 10px;
    font-size: 0.8rem;
    letter-spacing: 0.07rem;
  }

  &.note-btn {
    font-family: $primary-font;
    padding: 0.25rem 0.5rem;
    letter-spacing: normal;
    font-weight: 400;
    background: #f3f3f3;
    border-radius: 4px;
  }

  &.btn-success,&.btn-danger,&.btn-primary,&.btn-secondary,&.btn-warning {

    span {
      &:before {
        color: white;
      }
    }

  }

  &.float-add {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    padding: 6px;
    line-height: 2rem;
    z-index: 9999;

    &:after {
      display: none;
    }

  }

  .bi-chevron-left {
    margin-left:-10px;
  }

  .bi-chevron-right {
    margin-right:-10px;
  }

}

.btn-link {
  padding-left: 0;
  padding-right: 0;
}

table {

  .btn.dropdown-toggle {
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 10px 15px;
    font-family: $primary-font;
    letter-spacing: normal;
    font-weight: 400;
    color: black;
  }

}


.btn-primary {
  background:$pink;
  border-color:$pink;
  color:white !important;

  &:hover {
    background:$pink;
    border-color:$pink;
  }

}

.btn-secondary {
  color:$black;
  background: white;
  border-color: #b0b0b0;

  &:hover {
    color:$black;
    background:white;
  }
}

.btn-success {
  background:$green;
  border-color:$green;
  border-radius: 50px;
  color:white;
}

.btn-light {
  box-shadow: 0px 14px 24px rgba(7, 28, 64, 0.06);
}

.btn-outline-light {
  border: 1px solid rgba(255,255,255,0.4);
  color:white;

  &:hover {
    border: 1px solid rgba(255,255,255,1);
    box-shadow: 0px 14px 24px rgba(7, 28, 64, 0.06);
  }
}

.btn-sm, .btn-group-sm > .btn {
  border-radius: 30px;
}
