.blockOverlay {
  display: none !important;
}

.pull-right,.float-right {
    float: right;
}

.pull-left,.float-left {
    float: left;
}

.avatar {
  display:block;
  width:35px;
  min-width:35px;
  height:35px;
  min-height:35px;
  border-radius:35px;
  margin-right:15px;
  @include background-vector(icon_user, cover);
}

.slimScrollBar {
  opacity: 0.3 !important;
  width:6px !important;
}

#searchtext,#input-search2, #InputReportSearch{
  border-radius: 30px;
  padding: 10px 20px;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}


.view-label {
  font-weight: 600;
}


// Tables

table {

  .actions {
    text-align: right;

    a {
      display: inline-block;
      margin:0 8px;
    }

  }

  &.files {
    tr td:first-child {
      i {
        opacity: 0.6;
        margin-right:5px;
      }
    }
  }


}



// Workflow

#workflow {
  padding:0;

  ul {

      li {
        padding:10px;

        &:first-child {
          padding-left:15px;
        }

        &:last-child {
          padding-right:0;
        }

        > * {
          padding:0;
          color:$dark-blue;
          opacity: 0.6;
        }

        a {
          padding:0;
          color:$pink;
          opacity:1;
        }

      }

  }

}

// Add button

.btn {

  &.float-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: $pink;

    &:after {
      display: none;
    }

    i {
      font-size: 20px;
      color: white;
      color: white;
    }

    a {
      &:after {
        display: none;
      }
    }

  }

}
