.home-intro {
  // margin-top: -25px !important;
}

#intro {

  > div {
    display: flex;
    justify-content: space-between;
  }

  .profile {

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color:$black;
      font-weight:600;
      text-rendering: geometricprecision;
    }

    img {
      display: block;
      width:40px;
      height:40px;
      border-radius:40px;
    }

  }

  .btn {
    padding: 0;
    margin-left: 25px;
    border:none;
  }

  .btn:hover {
    border:none;
  }

  #message {
    display: flex;
    margin-right: 30px;
    height: 40px;
    align-items: center;

    i {
      display: inline-block;
      width: 25px;
      height: 19px;
      filter: brightness(0) invert(0);
      opacity:0.4;
      @include background-vector(icon_message, contain);
    }

    &:hover i {
      filter:none;
      opacity:1;
    }

  }



  i.email {
    display: inline-block;
    width: 25px;
    height: 19px;
    filter: brightness(0) invert(0);
    opacity:0.4;
    @include background-vector(icon_message, contain);
  }

  .message-dropdown .btn:hover {
    i.email {
      filter:none;
      opacity:1;
    }
  }

}

#dash-cards {

  h5 a {
    text-decoration: none;
    color:$black;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;

    &:first-child {
      margin-top:-10px;
    }

    > div {
      padding:10px;
    }

  }

  .card {
    height: 100%;
    margin-bottom:0;

    &.doughnut {
      canvas {

      }
    }

    h6 {
      text-rendering: geometricprecision;
      font-weight: 600;
      margin-top:0;
    }

  }

}

.card-scroll {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;

  @include media-breakpoint-up(md) {
    height: calc(100vw / 2);
    max-height: 400px;
  }

  @include media-breakpoint-up(lg) {
    height: calc(100vw / 3);
  }
}


.messages-list {

  li.list-group-item {
    padding:0;
    border-bottom:none;
    margin-bottom:10px;

    &:last-child {
      margin-bottom:0;
    }

    a {
      text-decoration: none;
      color:$black;

      > div {
        display: flex;
        justify-content: space-between;
        margin-bottom:10px;
      }

      .message {
        align-items: center;
        display: block;
        width: 100%;

        > div {
          display: flex;
          justify-content: space-between;
          margin-bottom:5px;
        }

        span {
          display: flex;
          padding-right:10px;
          align-items: center;
        }

        p {
          margin:0;
        }

      }

      .avatar {
        display: inline-block;
        width:32px;
        height:32px;
        object-fit: cover;
        border-radius:32px;
        margin-right:10px;
      }

      time {
        text-align: right;
        display: flex;
        align-items: center;
      }

    }

  }

}


.documents-list {

  li {
    padding:12px 0;

    &:first-child {
      padding-top:0;
    }

    &:last-child {
      padding-bottom:0;
    }

    a {
      text-decoration: none;
      color:$black;

      .document-location {
        color:$purple;
      }
    }
  }
}


#asset {
  max-width: 50vw;
  max-height: 50vw;
  min-width: 50vw;
  min-height: 50vw;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    max-width: 100%;
    max-height: auto;
    min-width: 100%;
    min-height: auto;
  }

  @include media-breakpoint-up(lg) {
    max-width: 100%;
    max-height: auto;
    min-width: 100%;
    min-height: auto;
  }

}
