#action-btns {
  display: flex;
  width: 100%;
  justify-content: end;

  label {
    display: flex;
    align-items: center;
  }

  a {
    margin-left:15px;
  }

  h5 {
    display: none;
    margin: 0 0 0 5px;
    font-family: "rift", sans-serif;
    letter-spacing: 0.08rem;
    font-weight: 400;
    font-size: 0.9rem;

    @include media-breakpoint-up(md) {
      display: inline;
    }

  }

  i {
    color:$pink;
  }

}

#document-breadcrumbs {
  display: flex;
  align-items: center;
}

#document-breadcrumbs .breadcrumb-item a {
      display: flex;
}

#document-breadcrumbs .breadcrumb {
      margin-bottom: 0;
}
