#calendar {
	padding: 10px;

	@include media-breakpoint-up(md) {
		height: auto;
		position: relative;
		overflow: auto;
		max-height: calc(100vh - 285px);
		padding:20px;

	}

  @include media-breakpoint-up(lg) {
    max-height: calc(100vh - 215px);
  }

	.btn-primary {
		    z-index: 10;
	}
}

.fc .fc-view-harness {
	height: calc(100vh - 330px) !important;

	@include media-breakpoint-up(lg) {
		height:100%;
	}

}

.fc .fc-toolbar.fc-header-toolbar {
	margin-bottom: 5px !important;

	@include media-breakpoint-up(mdß) {
		margin-bottom: 20px !important;
	}
}

.fc .fc-toolbar-title {
	font-size: 1.1rem !important;
	line-height: 1.1rem;
}

#filter-btn {
	bottom:25px;

	@include media-breakpoint-up(lg) {
		bottom:0;
	}
}

.fc .fc-button-group>.fc-button {
	background:none;
	color:$dark-blue;
	font-family: $secondary-font;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
	font-weight:500;
	border: none;
	border-radius: 0;
	opacity:0.5;
	outline: none;
	box-shadow: none;
	padding-left:0;
	padding-right:0;
	margin:0 8px;

	@include media-breakpoint-up(md) {
		margin:0 10px;
		font-size: 1rem;
	}

	&:focus,&:active {
		outline:none;
		border:none;
		box-shadow: none;
	}

	&:hover {
		background:none !important;
		color:$dark-blue !important;
	}

}

.fc .fc-toolbar {
	padding:0;
  flex-direction: row;

	@include media-breakpoint-up(md) {
		flex-direction: row;
	}

	.fc-toolbar-chunk {
		margin-bottom:15px;

		@include media-breakpoint-up(md) {
			margin-bottom:0;
		}

	}

}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
	color:$dark-blue !important;
	background:none !important;
	opacity: 1;
	border-bottom:1px solid $pink !important;

	&:hover {
		background:none !important;
		color:$dark-blue !important;
	}

	&:focus,&:active {
		outline:none;
		box-shadow: none;
	}
}

.fc a {
	color:$dark-blue;
	text-decoration: none;
}

.fc-h-event,.fc-v-event {
	background:$dark-blue;
	a {color: white;}
	border-color:white;
}

.fc-daygrid-event-dot,.fc .fc-list-event-dot {
	border-color:$pink;
}

.fc-theme-standard td, .fc-theme-standard th {
	background: white;
}

.fc .fc-daygrid-day.fc-day-today {
	background:#F0F2F7;
}

.fc .fc-event {
	padding: 0 3px;
}

.card .fc-today-button {
	background:white !important;
	border:1px solid #ccc !important;
	color:$dark-blue !important;
	border:none !important;
	border-radius:0 !important;
	padding-left:0 !important;
	padding-right:0 !important;
	font-family: $secondary-font !important;
	letter-spacing: 0.1rem !important;
	font-weight:500 !important;
	border-bottom:1px solid white !important;
	opacity:0.5 !important;
	display: none !important;

	@include media-breakpoint-up(md) {
		display: inline-block !important;
	}

	&:hover {
		color:$pink;
		background:white;
		border-bottom:1px solid $pink;
		opacity: 1;
	}

	&:disabled {
		border-radius:0;
		font-family: $secondary-font;
		letter-spacing: 0.1rem;
		border:none !important;
		border-bottom:1px solid $pink !important;
		background:white !important;
		color:$dark-blue !important;
		opacity:1 !important;
		padding-left:0;
		padding-right:0;
	}
}


.fc .fc-button-group > .fc-prev-button {
		margin-left: 0;
}


[data-bs-target="#eventType"] {
    position: absolute;
    bottom:20px;
    left:25px;

		@include media-breakpoint-up(md) {
			position: relative;
			bottom:20px;
			left:initial;
		}
}


.selectType span {
    display: none;
}

input:checked + .slider {
    background-color: #63be38 !important;
}
