#progress {

	h4{
		margin-bottom: 30px;
	}

	ul {
		list-style: none;
		padding: 0;
		display: flex;
		overflow: auto;
		padding: 8px 10px 0 45px;
		width: calc(100% + 55px);
		margin-left: -40px;
		margin-bottom:0;

		@include media-breakpoint-up(md) {
			flex-direction: column;
			width:100%;
			margin-left:0;
			padding: 10px 2px;
		}

		li {
			min-height: 37px;

			@include media-breakpoint-up(md) {
				margin-bottom: 20px;
			}

			i {
				display: none;
			}

			a {
				position: relative;
				color:$black !important;
				padding: 6px 0 0 48px;
				text-decoration: none;
				opacity: 0.7;

				span {
					display: none;

					@include media-breakpoint-up(md) {
						display: inline;
					}

				}

				&:before {
					content:'';
					display: inline-block;
					width:35px;
					height:35px;
					background:white;
					border-radius:35px;
					position: absolute;
					top: 0;
					left: 0;
					box-shadow: 0px 0px 0px 2px #dfdfdf;
				}

				&:after {
					content: '';
					display: block;
					width: 35px;
					height: 35px;
					position: absolute;
					top: 0;
					left: 0;
					line-height: 35px;
					text-align: center;
					font-size: 1.2rem;
				}

				&.active {
					opacity: 1;

					&:before {
						box-shadow: 0px 0px 0px 2px $pink;
						background: $pink;
					}

					&:after {
						color:white;
					}

				}

				&.complete {
					opacity: 1;

					&:before {
						box-shadow: 0px 0px 0px 2px $green;
					}

				}

			}

			&:first-child a:after{
					content: '1';
			}

			&:nth-child(2) a:after{
				content: '2';
			}

			&:nth-child(3) a:after{
				content: '3';
			}

			&:nth-child(4) a:after{
				content: '4';
			}

			&:nth-child(5) a:after{
				content: '5';
			}

			&:nth-child(6) a:after{
				content: '6';
			}

			&:nth-child(7) a:after{
				content: '7';
			}

			&:nth-child(8) a:after{
				content: '8';
			}

			&:nth-child(9) a:after{
				content: '9';
			}

			&:nth-child(10) a:after{
				content: '10';
			}

			&:nth-child(11) a:after{
				content: '11';
			}

			&:nth-child(12) a:after{
				content: '12';
			}

			&:nth-child(13) a:after{
				content: '13';
			}

			&:nth-child(14) a:after{
				content: '14';
			}

			&:nth-child(15) a:after{
				content: '15';
			}

			&:nth-child(16) a:after{
				content: '16';
			}

			&:nth-child(17) a:after{
				content: '17';
			}

			&:nth-child(18) a:after{
				content: '18';
			}

			&:nth-child(19) a:after{
				content: '19';
			}

			&:nth-child(20) a:after{
				content: '20';
			}



		}

	}

	.list-group-item {
		background:none;
	}

}
