#login {

	#logo {
		display: block;
		margin: 25px auto;
		width: 228px;
    height: 69px;
		@include background-vector(logo, contain);
		overflow:hidden;
		text-indent:-300px;
		position: relative;
		left: 10px;

		@include media-breakpoint-up(md) {
			width: 300px;
			height: 90px;
		}

	}

	> .row {
		position: relative;
		width: 100%;
		height: 100vh;
		margin:0;

		@include media-breakpoint-up(lg) {
			position: absolute;
		}

		> div {
			width:100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@include media-breakpoint-up(lg) {
				width:50%;
			}

			> div {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			&:first-child {
				background:white;

				> div {
					justify-content: space-between;
					height: 100%;
					padding: 50px 0;

					@include media-breakpoint-up(lg) {
						padding: 100px;
					}

				}

				#title {
					text-align: center;

					h2 {
						color:$pink;
						font-size: 1,5rem;
    				letter-spacing: 0.3rem;
						font-weight:100;

						@include media-breakpoint-up(sm) {
							font-size: 2.2rem;
						}

						@include media-breakpoint-up(md) {
							font-size: 3rem;
						}

					}

					h3 {
						font-size: 0.7rem;
						font-weight: 500;
						margin-top: 20px;

						@include media-breakpoint-up(sm) {
							font-size: 1rem;
						}

						@include media-breakpoint-up(md) {
							font-size: 1.3rem;
						}

					}

				}

			}

			&:last-child {
				padding:50px 0;
				background-size: cover;
				position: relative;

				&:after {
					display: block;
					content:'';
					width: 100%;
					height:100%;
					position: absolute;
					top:0;
					background:rgba(0,0,0,0.4);
				}

				form {
					width: 250px;
					position: relative;
					z-index:10;

					@include media-breakpoint-up(sm) {
						width: 300px;
					}

					@include media-breakpoint-up(md) {
						width: 500px;
					}

					label {
						color:white;
					}

					button {
						float:right;
					}

					div:last-child {
						margin-top:40px;
						display: flex;
						width: 100%;
				    align-items: center;
				    justify-content: space-between;


						a {
							color:white;
						}

					}

				}

			}

		}

		#social {
			display: none;

			@include media-breakpoint-up(lg) {
				display: flex;
				align-items: center;
				justify-content: center;
				padding:0;
				list-style: none;
				text-align: center;
			}

			li {
				margin:0 10px;

				a {
					display: block;
					width:30px;
					height:30px;

					&.twitter {
						@include background-vector(icon_twitter, contain);
						background-position: center;
					}

					&.linkedin {
						@include background-vector(icon_linkedin, contain);
						background-position: center;
					}

				}

			}

		}

		#contact-details {
			display: none;

			@include media-breakpoint-up(lg) {
				display: flex;
				margin-top:40px;
			}

			a {
				text-decoration: none;
				color:$black;
				font-family: $secondary-font;
				font-size: 1.4rem;
		    letter-spacing: 0.1rem;
		    margin: 0 10px;
			}

		}

	}

}
