// Remove

html {
	&.fix {
		overflow:hidden;
	}
	background-color:#F0F2F7;
}
body {
	background-color:#F0F2F7;
	font-family: $primary-font;
}

.clearfix {
	display: none;
}

#container,#SearchDetails {

	@include media-breakpoint-up(lg) {
		padding-left: 220px;
	}

}

.page-wrapper {
	background:none;
	padding-top:0;
}

.container-fluid {
	padding: 0;
}

.page-titles .card {
	background:none;
	box-shadow: none;
	border-radius:0;
}

#container {
	padding-top: 70px;

	@include media-breakpoint-up(md) {
		padding-top:0;
	}

 > div:not(.modal) {
	 padding:15px !important;
	 // height: calc(100vh - 70px);

	 @include media-breakpoint-up(md) {
		 padding:20px !important;
	 }

	 @include media-breakpoint-up(lg) {
		 padding:40px !important;
	 	// height: 100vh;
 	}

 }

}

bs-datepicker-container{
     z-index: 10000000;
}

.fc-h-event {
		border: 1px solid var(--bs-primary-light) !important;
		border: 1px solid var(--bs-primary) !important;
		background-color: var(--bs-primary) !important;
		background-color: var(--bs-primary) !important;
}
