header.topbar {
  // position: fixed;
  top: 0;
  height: 70px;
  z-index: 200;

  @include media-breakpoint-up(lg) {
    // position: relative;
    display: none;
  }

  nav.top-navbar {
    right: 0;
    padding:0;
    left: initial;
    height: 70px;
    width: 100%;
    background-color:white !important;
  }


  #mobile-nav-logo {
    display: block;
    margin: 0 auto;
    // width: 132px;
    // height: 40px;
    // @include background-vector(logo, contain);
    overflow:hidden;
    // text-indent:-300px;

    @include media-breakpoint-up(lg) {
      display: none;
    }

  }

  #nav-icon {
    display: block;
    width: 20px;
    height: 25px;
    position: absolute;
    left: 25px;
    top: 15px;
    border: none;
    outline: none;
    overflow:hidden;
    z-index:20;

    @include media-breakpoint-up(lg) {
      display:none;
      top: 8px;
    }

  }

  #nav-icon:after,
  #nav-icon:before,
  #nav-icon div {
    background-color: $pink;
    content: '';
    display: block;
    height: 2px;
    margin: 6px 0;
    transition: all .2s ease-in-out;
  }

  #nav-icon.active:before {
    transform: translateY(8px) rotate(135deg);
  }

  #nav-icon.active:after {
    transform: translateY(-8px) rotate(-135deg);
  }

  #nav-icon.active div {
    transform: scale(0);
  }

}
