#message-list {

  height: auto;
  max-height: calc(100vh - 215px);
  position: relative;
  overflow: auto;

  @include media-breakpoint-up(md) {
    max-height: calc(100vh - 285px);
  }

  @include media-breakpoint-up(lg) {
    max-height: calc(100vh - 215px);
  }

  ul {

    li {
      border-bottom:1px solid #ccc;
      padding:10px 0;

      &:last-child {
        border-bottom:0;
      }
    }

  }

}

#message-details {

  .card {
    height: calc(100vh - 230px);
    position: relative;

    @include media-breakpoint-up(lg) {
      height: calc(100vh - 170px);
    }

  }

  .card-header {
    border:none;
    display: flex;
    justify-content: space-between;

    .btn-close {
      font-size: 1rem;
    }

  }

  .message-content {
    overflow: auto;
    height: calc(100% - 200px);
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    padding:0 25px;
    width: 100%;

    @include media-breakpoint-up(md) {
      padding:30px;
    }

  }

  .message {
    clear: both;
    overflow: auto;
    margin-bottom:30px;

    .user {
      display: flex;
      align-items: center;

      .name {
        font-weight: bold;
      }

    }

    .message-bubble {
      padding: 20px;
      background: #EFEFEF;
      border-radius: 10px;
      margin: 10px 0;
      width: auto;
      max-width: calc(85% - 50px);
      margin-left: 40px;
      float: left;

      p:last-child {
        margin-bottom:0;
      }

      p {
        display: inline-block;
      }

    }

    .message-details {
      clear: left;
      display: block;
      float: left;
      margin-left: 50px;
    }

    &.client {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .user {
        flex-direction: row-reverse;

        img {
          margin-right: 0;
          margin-left:15px;
        }
      }

      .message-bubble {
        background:$blue;
        color: white;

        p {
          color: white;
        }

      }

      .message-attachments {
        li {
          text-align: right;
        }
      }

    }

    .message-attachments {
      float:left;
      clear: both;
      margin: 0;
      margin-left: 50px;

      ul {
        padding:0;
        margin:0;
        list-style: none;

        li {
          padding:15px 0;
          margin-bottom:10px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color:$black;
            font-size: 13px;

            i {
              color:$pink;
              font-size: 20px;
              margin-right: 7px;
            }
          }

        }

      }

    }

  }

  .card-footer {
    position: absolute;
    display: flex;
    align-items: flex-start;
    border:none;
    bottom:0;
    width: 100%;
    left:0;
    height: 130px;
    padding:15px;
    background: white;
    border-radius: 0 0 10px 10px;

    @include media-breakpoint-up(md) {
      padding:30px;
    }

    &:before {
      content:'';
      display: block;
      width:100%;
      height:1px;
      background: #ccc;
      position: absolute;
      top:0;
      left: 0;
    }

    textarea {
      padding:0;
      border:none;
      resize: none;
    }

  }

  #message-actions {
    display: flex;
  }

  .attach {
    padding: 0;
    font-size: 1.7rem;
    color: black;
    margin-left:20px;

    &:hover {
      border:none;
    }

    i {
      color: black;
      &:before {
        transform: rotate(45deg);
      }
    }
  }

  .send {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-left:10px;

    i {
      position: relative;
      left:-1px;
      display: block;
      width: 20px;
      height: 20px;
      @include background-vector(send, contain);
      filter: invert(91%) sepia(99%) saturate(34%) hue-rotate(194deg) brightness(108%) contrast(99%);
    }

  }

}


.messages-list li.list-group-item a .message p {
  white-space: normal;
}

.message-content .modal-body {
  padding: 0 !important;
}

.messdiv {
  .form-group.ng-star-inserted {
     margin-bottom: 0;
    .row {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }

    }
  }
}
