#portfolio {

	#personal-details {

		h6 {
			text-rendering: geometricprecision;
	    font-weight: 600;
	    margin-top: 0;
		}

	}

}


// #charts {
//
// 	.doughnut {
// 		position: relative;
// 		margin-top: -80px;
// 		margin-bottom: -80px;
//
// 		&:first-child {
// 			margin-bottom:-150px;
// 		}
//
//
// 		@include media-breakpoint-up(md) {
// 			margin-top: -6vw;
// 	    margin-bottom: -6vw;
//
// 			&:first-child {
// 				margin-bottom: -6vw;
// 			}
//
// 		}
//
// 		@include media-breakpoint-up(lg) {
// 			margin-top: -8vw;
// 	    margin-bottom: -8vw;
//
// 			&:first-child {
// 				margin-bottom: -8vw;
// 			}
//
// 		}
//
// 		canvas {
// 			position: relative;
// 			z-index:1;
// 		}
//
// 		.total {
// 			position: absolute;
// 			width: 100%;
//     	right: -40px;
// 	    height: 100%;
// 	    display: flex;
// 	    align-items: center;
// 	    justify-content: center;
// 			z-index:0;
//
// 		}
// 	}
//
// 	@include media-breakpoint-up(md) {
// 		.doughnut {
// 			width: 50%;
// 			padding:0;
//
// 			&:first-child {
//
// 			}
//
// 			&:last-child {
//
// 			}
// 		}
//
// 	}
//
// 	.title {
// 		position: absolute;
// 		top: calc(50% - 90px);
//     left: 18px;
//     font-size: 1rem !important;
//     width: 100%;
//     text-align: left;
// 		z-index:0;
//
// 		@include media-breakpoint-up(md) {
// 			top: calc(50% - 80px);
// 		}
//
//
// 		h4 {
// 			font-size:1.1rem;
// 		}
// 	}
//
// }
