#sidenav {
  display:none;
  position:fixed;
  width:100%;
  height: calc(100% - 60px);
  top: 60px;
  left: 0;
  height:100%;
  background:white;
  z-index: 9999;

  @include media-breakpoint-up(lg) {
    display: block !important; 
    width:220px;
    height: 100%;
    top:0;
    z-index: 100;
  }

  > div {
    height:100%;
    width: 100%;
    padding: 20px 0 0 0;
    overflow: auto;

    @include media-breakpoint-up(lg) {
      padding:0;
      overflow: hidden;
    }

  }

  #sidenav-logo {
    display: none;
    margin: 25px auto;
    width: 150px;
    height:46px;
    @include background-vector(logo, contain);
    overflow:hidden;
    text-indent:-300px;

    @include media-breakpoint-up(lg) {
      display: block;
    }

  }

  ul.navbar-nav {
    height: 100%;
    list-style:none;
    padding: 0;
    margin: 0;
    line-height: initial;

    @include media-breakpoint-up(lg) {
      display: block;
      width:100%;
      overflow: auto;
      position: absolute;
      height: calc(100vh - 170px);
      top: 120px;
    }

    li {
      margin:0;

      a.nav-link {
        display: flex;
        align-items: center;
        font-family: $secondary-font;
        font-weight: 500;
        color: $dark-blue;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        padding:18px 28px 15px 28px;
        transition: background .2s ease-in-out;

        .icon {
          display: inline-block;
          width:20px;
          height:20px;
          margin-right: 15px;
          filter: brightness(0) invert(0);
          opacity:0.4;

          &.home {
            @include background-vector(icon_home, contain);
          }

          &.personal {
            @include background-vector(icon_personal, contain);
          }

          &.document {
            @include background-vector(icon_document, contain);
          }

          &.event {
            @include background-vector(icon_event, contain);
          }

          &.message {
            @include background-vector(icon_message, contain);
          }

        }

        &:hover,&:focus,&.active {

          .icon {
            filter:none;
            opacity:1;
          }

        }

      }

      &:last-child {

        @include media-breakpoint-up(lg) {
          position: fixed;
          bottom: 0;
          width: 220px;
          text-align: center;
          background: white;
          border-top: 1px solid #D7D7D7;

          a {
            justify-content: center;
          }

        }

      }

    }

  }

}
