.strength {
  text-align: center;

  span {
    display: inline-block;
    width:20px;
    height:18px;
    overflow: hidden;
    text-indent:-100px;

    &.one {
      @include background-vector(strength-one, contain);
    }

    &.two {
      @include background-vector(strength-two, contain);
    }

    &.three {
      @include background-vector(strength-three, contain);
    }

    &.four {
      @include background-vector(strength-four, contain);
    }
  }



}
