// bootstrap

$blue:    #022157;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #FF006A !default;
$red:     #dc3545 !default;
$orange:  #FF7A00;
$yellow:  #ffc107 !default;
$green:   #63BE38;
$teal:    #20c997 !default;
$cyan:    #00276A;

$primary: $pink;
$success: $green;
$info: #00276A;
$warning: $orange;


@import "node_modules/bootstrap/scss/bootstrap";
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/bootstrap/scss/grid";

// Base
@import "base/font";
@import "base/variables";
@import "base/mixins";
@import "base/text";
@import "base/icons";
@import "base/jqueryui";
@import "base/forms";
@import "base/tables";


// Layout

@import "layout/masthead";
@import "layout/main";
@import "layout/login";
@import "layout/dashboard";
@import "layout/sidebar";
@import "layout/messaging";
@import "layout/documents";
@import "layout/fact-find";
@import "layout/valuations";
@import "layout/events";
@import "layout/portfolio";

// Components
@import "components/accordian";
@import "components/avatar";
@import "components/buttons";
@import "components/badges";
@import "components/breadcrumbs";
@import "components/common";
@import "components/cards";
@import "components/datepicker";
@import "components/icons";
@import "components/panels";
@import "components/chartist";
@import "components/charts";
@import "components/dropdowns";
@import "components/list-group";
@import "components/modals";
@import "components/navs";
@import "components/nav-bars";
@import "components/nav-tabs";
@import "components/pagination";
@import "components/preloader";
@import "components/progress";
@import "components/quicklinks";
@import "components/scrollbars";
@import "components/tabs";
@import "components/spinner";
